<div class="container">
    <h3 id="editTitleItem">Ajouter un article</h3>
    <div id="formEditItem">
        <div class="row">
            <form class="col s12">
                <div class="input-field col s6">
                    <input id="fieldLabelItem" type="text" class="validate">
                    <label for="fieldLabelItem" class="active">Nom de l'article</label>
                </div>
                <div class="input-field col s6">
                    <input id="fieldItemQuantity" type="number" class="validate">
                    <label for="fieldItemQuantity" class="active">Quantité</label>
                </div>
            </form>
        </div>
        <div class="row">
            <button class="waves-effect waves-light btn" onclick="editSharedItem.save()"><i class="material-icons right">check</i>Enregistrer</button>
        </div>
    </div>
</div>