<div class="container">
    <h3 id="editTitleList">Ajouter une liste</h3>
    <div id="formEditList">
        <div class="row">
            <form class="col s12">
                <div class="input-field col s6">
                    <input id="fieldShopList" type="text" class="validate">
                    <label for="fieldShopList" class="active">Nom de la liste</label>
                </div>
            </form>
        </div>
        <div class="row">
            <button class="waves-effect waves-light btn" onclick="editListController.save()"><i class="material-icons right">check</i>Enregistrer</button>
        </div>
    </div>
</div>