<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <h3 id="titleIndexItem"></h3>
    </div>
</div>
<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <a id="addItemShare" class="waves-effect waves-light btn" onclick="navigate('editSharedItem')"><i class="material-icons right">add</i>Ajouter</a>
        <table id="tableAllItems" class="striped" style="display:none">
            <thead>
            <tr>
                <th>Label de l'article</th>
                <th>Quantité</th>
                <th>Fait</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="tableBodyAllItem">
            </tbody>
        </table>
    </div>
</div>