<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <h3>Prenium</h3>
    </div>
</div>
<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <p>En obtenant un compte prenium vous pouvez partager votre liste avec un autre membre ainsi qu'avoir plusieurs
            listes actives en même temps.</p>
        <p>Nous proposons 3 formules d'abonnements:
        <ul>
            <li>- 1 mois pour 10€</li>
            <li>- 3 mois pour 20€</li>
            <li>- 12 mois pour 60€</li>
        </ul>
        </p>
    </div>
</div>
<div class="row">
    <div class="col s2">
    </div>
    <div class="col s8">
        <p id="currentPrenium"></p>
    </div>
</div>
<form class="col s12">
    <div class="row">
        <div class="col s2"></div>
        <div class="input-field col s4">
            <input id="fieldName" type="text">
            <label for="fieldName" class="active">Nom</label>
        </div>
        <div class="input-field col s4">
            <input id="fieldLastName" type="text" class="validate">
            <label for="fieldLastName">Prénom</label>
        </div>
    </div>
    <div class="row">
        <div class="col s2"></div>
        <div class="input-field col s4">
            <input id="fieldCB" type="text" value="1234 5678 9012 3456" class="validate">
            <label for="fieldCB" class="active">Numéro de carte bleu</label>
        </div>
        <div class="input-field col s4">
            <input id="fieldCVV" type="text" value="123" class="validate">
            <label for="fieldCVV" class="active">CVV</label>
        </div>
    </div>
    <div class="row">
        <div class="col s2"></div>
        <div class="input-field col s4">
            <select id="fieldDuree">
                <option value="1">1 mois</option>
                <option value="3">3 mois</option>
                <option value="12">12 mois</option>
            </select>
            <label for="fieldDuree">Choix Abonnement</label>
        </div>
    </div>
</form>
<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <button class="waves-effect waves-light btn" onclick="preniumController.save()"><i class="material-icons right">check</i>S'abonner
        </button>
    </div>
</div>
